@import url("https://use.typekit.net/dkb5jcf.css");
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Raleway, sans-serif;
}
a{
	text-decoration: none;
}
.container{
	width: 1600px;
	margin: 0 auto;
}
header{
	height: 750px;
	background: url(img/bg_header.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
header:after{
	content: " ";
	background: -webkit-linear-gradient(143deg, #00b8d4 14%, #1de9b6 86%);
	background: -moz-linear-gradient(143deg, #00b8d4 14%, #1de9b6 86%);
	background: -o-linear-gradient(143deg, #00b8d4 14%, #1de9b6 86%);
	background: -ms-linear-gradient(143deg, #00b8d4 14%, #1de9b6 86%);
	background: linear-gradient(-53deg, #00b8d4 14%, #1de9b6 86%);
	position: absolute;
	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
	opacity: 0.6;
}
.header_container{
	height: 698px;
	padding: 52px 80px 0;
	position: relative;
	z-index: 10;
}
.header_container nav{
	margin-bottom: 158px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.header_logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 140px;
	height: 30px;
}
.header_logo a{
	color: #ffffff;
	-ms-align-items: center;
	align-items: center;
	letter-spacing: 0.5px;
	font-size: 20px;
	font-weight: 400;
	line-height: 15px;
}
.header_logo a img{
	width: 30px;
	height: 30px;
	margin: 0 10px;
}
.header_menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	width: 441px;
}
.header_menu a{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	line-height: 25px;
}
.header_menu a:hover{
	color: rgba(6, 30, 55, 0.9);
}

.header_content{
	width: 1461px;
	height: 354px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.header_text{
	width: 580px;
	height: 223px;
	color: #ffffff;
}
.header_text h1{
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 700;
	line-height: 65px;
	width: 471px;
}
.header_text p{
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	width: 580px;
}
.header_text-button{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 340px;
	margin-top: 38px;
}
.header_text-button a{
	color: rgba(6, 30, 55, 0.9);
	font-size: 15px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	width: 160px;
	height: 55px;
}
.header_text-button a:first-child{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 55px;
	text-align: center;
	border-radius: 5px;
	background-color: #061e37;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	width: 160px;
	height: 55px;
}

.header_video{
	align-self: center;
	width: 600px;
	height: 320px;
	background: url(img/Rounded_Rectangle.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}



.easy-useful{
	width: 1434px;
	height: 611px;
	margin: 100px auto;
	text-align: center;
}

.easy-useful h1{
	color: rgba(6, 30, 55, 0.9);
	font-size: 45px;
	font-weight: 600;
}
.easy-useful h3{
	color: #b0bec5;
	font-size: 25px;
	font-weight: 600;
}
.easy-useful > p{
	color: #b0bec5;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	width: 555px;
	height: 61px;
	margin: 20px auto 97px;
}
.easy-useful_cards{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 78px;
}
.easy-useful_card{
	width: 344px;
	height: 204px;
}
.easy-useful_card img{
	width: 68px;
	height: 70px;
	margin-bottom: 45px;
}	
.easy-useful_card h3{
	color: rgba(6, 30, 55, 0.9);
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
}
.easy-useful_card p{
	color: #78909c;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.easy-useful a{
	border-radius: 5px;
	background-color: #1de9b6;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	width: 150px;
	height: 55px;
	color:#ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 50px;
	display: inline-block;
}
.counts{
	width: 1600px;
	height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.counts_csrd{
	width: 400px;
	/*height: 150px;*/
}
.counts img{
	
	width: 26px;
	height: 24px;
}
.counts img:after{
	background: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.counts_csrd_1{
	background-color: #80d8ff;
}
.counts_csrd_2{
	background-color: #82b1ff;
}
.counts_csrd_3{
	background-color: #b388ff;
}
.counts_csrd_4{
	background-color: #ea80fc;
}























